{% load static %}
<div class="modal" tabindex="-1" id="menu_items-modal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark border-light">
            <form hx-post="{% url 'menu:menu_items_create' %}"
                  hx-target="#menu_items-modal"
                  hx-swap="outerHTML"
            >
                {% csrf_token %}


                <div class="modal-header">
                    <h5 class="modal-title">Yemek Oluştur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_div }}
                    <hr>
                    {{ formset.management_form }}
                    {% if formset.non_form_errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in formset.non_form_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% for form in formset %}
                        <div class="row">
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="col-md-5">
                                {{ form.ingredient.label_tag }}
                                {{ form.ingredient }}
                                {% if form.ingredient.errors %}
                                    <div class="text-danger">
                                        <ul>
                                            {% for error in form.ingredient.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-5">
                                <label for="{{ form.quantity.id_for_label }}" id="label-{{ form.quantity.id_for_label }}">
                                    {{ form.quantity.label }} (<span class="unit-type"></span>):
                                </label>
                                {{ form.quantity }}
                                {% if form.quantity.errors %}
                                    <div class="text-danger">
                                        <ul>
                                            {% for error in form.quantity.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                {{ form.DELETE }}
                                <button type="button" class="btn btn-sm btn-outline-danger rounded-pill delete-btn">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <a class="btn btn-sm btn-success rounded-pill" id="add-row-btn">
                            <i class="fa fa-add"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <input type="submit" class="btn btn-primary" value="Onay">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/dashboard/menu_items/ingredient_items_formset.js' %}"></script>

