    <!-- Table Search and Add Button -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h3 class="text-light mb-0">Kategoriler</h3>
        <div class="d-flex">
            <div class="input-group input-group-sm me-3">
                <input type="text" class="form-control form-control-sm bg-dark text-white border-secondary"
                       placeholder="İsim..."
                       id="search-categories"
                       name="search_name"
                       hx-get="{% url 'menu:categories_list' %}"
                       hx-include="this"
                       hx-target="#list-categories"
                       hx-swap="outerHTML"
                       hx-trigger="input from:#search-categories"
                >
            </div>
            <a         class="btn btn-sm btn-success rounded-pill"
                       hx-get="{% url 'menu:categories_create' %}"
                       hx-target="#tbody-categories"
                       hx-swap="afterbegin"
                       hx-trigger="create_event_categories"
                       onclick="createCategoriesForm()"
            >
                <i class="fa fa-add"></i>
            </a>
        </div>
    </div>