{% load custom_filters %}

<tr id="{{ model_name }}-{{ item.id }}">
    <th scope="row" class="id-column">{{ item.id }}</th>
    {% for field in fields %}
        <td class="align-middle">{{ item|get_attr:field }}</td>
    {% endfor %}
    <td class="actions-column">

    <button class="btn btn-sm btn-outline-light rounded-pill"
            hx-get="{% url 'menu:ingredient-edit_row' pk=item.id %}"
            hx-target="#{{ model_name }}-{{ item.id }}"
            hx-swap="outerHTML">
    <i class="fas fa-edit"></i>
    </button>
{#  Since the row gets replaced need to add csrf_token to the request manually see static/menu/js/list.js#}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button class="btn btn-sm btn-outline-danger rounded-pill"
        hx-post="{% url 'menu:ingredient-delete_row' pk=item.id  %}"
        hx-target="#{{ model_name }}-{{ item.id }}"
        hx-swap="outerHTML">
        <i class="fas fa-trash"></i>
    </button>

    </td>
</tr>
