.table {
    table-layout: fixed;
    width: 100%;
}

.table th, .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.table-responsive {
    width: auto;
    display: inline-block;
}

.id-column {
    width: 100px;
}

.actions-column{
    text-align: right;
}