{% extends "base.html" %}
{% load static %}

{% block title %}Menüler{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/dashboard/daily_menus/daily_menus.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="col-md-12 mb-4">
        <div hx-get="{% url 'menu:daily_menus_container' %}"
                 hx-trigger="load" hx-target="this">
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/dashboard/daily_menus/daily_menus.js' %}"></script>
{% endblock %}