{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- Add more content here -->
        </div>
    </div>
</section>
{#    <a hx-get="{% url 'authentication:logout' %}" >logout</a>#}
    <a href="{% url 'authentication:logout' %}" >logout</a>
{% endblock %}
