{% extends "base.html" %}
{% load static %}

{% block title %}Malzeme İhtiyaçları{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/dashboard/ingredient_requirements/ingredient_requirements.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            {% include 'dashboard/ingredient_requirements/header.html' %}
            <div id="requirements-table">

            </div>


        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/dashboard/ingredient_requirements/ingredient_requirements.js' %}"></script>

{% endblock %}