<tr id="ingredients-{{ object.id }}">
    <td class="id-column">{{ object.id }}</td>
    <td class="align-middle">{{ object.name }}</td>
    <td class="align-middle">{{ object.get_unit_display }}</td>

    <!-- Actions -->
    <td class="actions-column">

    <button class="btn btn-sm btn-outline-light rounded-pill"
            hx-get="{% url 'menu:ingredients_update' pk=object.id %}"
            hx-target="#ingredients-{{ object.id }}"
            hx-swap="outerHTML"
    >
    <i class="fas fa-edit"></i>
    </button>
{#  Since the row gets replaced need to add csrf_token to the request manually see static/menu/js/list.js#}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <button class="btn btn-sm btn-outline-danger rounded-pill"
        hx-get="{% url 'menu:ingredients_delete' pk=object.id %}"
        hx-target="body"
        hx-swap="afterbegin"
    >
        <i class="fas fa-trash"></i>
    </button>
    </td>
</tr>